.nomargin {
    margin: 0;
    }

.disblock {
    display: block;
}

.dislinblock {
    display: inline-block;
}

.dislin {
    display: inline;
}

.cornback {
    background: #ececec50;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  
}

@media (min-width: 100px) {
.grid-s-item {
  font-size: 10px;
  text-align: left;
}

.grid-m-item {
  font-size: 17px;
  text-align: left;
}

.grid-l-item {
  font-size: 30px;
  text-align: left;
}

.grid-m-lc-item {
  font-size: 17px;
  text-align: left center;
  margin-top: 20px;
}
}

.row-s {
  margin-right: 25px;
  margin-left: 25px;
}
.Marcin {
  height: 440;
  width: 360;
}

.Johannes {
  height: 360;
  width: 440;
  background: url(../images/Marcin.jpg) 0 0;
}

.sm-shatterd-bg {
  background-image: url("../../assets/images/shattered.gif");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.sm-city-bg {
  background-image: url("../../assets/images/architecture-1868667_1920.png");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.navbar-blue {
  border-bottom: none;
  background: #012136;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.sm-city-bg .subheading {
  color: rgb(255, 255, 255);
}

/* ---- 17.1 CTA - City - Link ---- */
.cta-city-link {
  background-image: url("../../assets/images/architecture-1868667_1920.png");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.cta-city-link .bg-overlay {
  width: 100%;
  background: rgb(0 0 0 / 0%);
}

.cta-city-link .cta-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.cta-city-link .cta-wrapper .page-title .subheading, .page-title .cta-city-link .cta-wrapper .subheading {
  margin-top: 0;
  margin-bottom: 50px;
  letter-spacing: 8px;
  color: #ececec;
}

.cta-city-link .cta-wrapper h3 {
  margin-top: 0;
  margin-bottom: 50px;
  letter-spacing: 5px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
}

.page-title.sm-city-bg h1 {
  margin-top: 0;
  margin-bottom: 0px;
  letter-spacing: 5px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
}

/* .team-4col .t-item .t-et == Who are you section */
.team-4col .t-item .t-et, .team-4col .t-item h2 {
  color: #111;
  position: relative;
  top: 90px;
}

.team-4col .t-item h2 {
  margin: none;
}

.team-4col .t-item.t-card-color {
  background-color: #f8f8f8;
  border: none;
}

.t-resonsive-block {
  display: block;
  width: 360px;
  height: 440px;
}

