.nomargin {
    margin: 0;
    }

.disblock {
    display: block;
}

.dislinblock {
    display: inline-block;
}

.dislin {
    display: inline;
}

.cornback {
    background: #ececec50;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  
}

@media (min-width: 100px) {
.grid-s-item {
  font-size: 10px;
  text-align: left;
}

.grid-m-item {
  font-size: 17px;
  text-align: left;
}

.grid-l-item {
  font-size: 30px;
  text-align: left;
}

.grid-m-lc-item {
  font-size: 17px;
  text-align: left center;
  margin-top: 20px;
}
}

.row-s {
  margin-right: 25px;
  margin-left: 25px;
}
.Marcin {
  height: 440;
  width: 360;
}

.Johannes {
  height: 360;
  width: 440;
  background: url(../images/Marcin.jpg) 0 0;
}

.sm-shatterd-bg {
  background-image: url("../../assets/images/shattered.gif");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.sm-city-bg {
  background-image: url("../../assets/images/architecture-1868667_1920.png");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.navbar-blue {
  border-bottom: none;
  background: #012136;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.sm-city-bg .subheading {
  color: rgb(255, 255, 255);
}
